* {
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #264b3c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11d486;
}
